In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

import keras
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, AveragePooling2D
from keras.layers import Dense, Activation, Dropout, Flatten

from keras.preprocessing import image
from keras.preprocessing.image import ImageDataGenerator
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras import backend as K

from keras.metrics import categorical_accuracy
from keras.models import model_from_json
from keras.callbacks import ModelCheckpoint
from keras.optimizers import *
from keras.layers.normalization import BatchNormalization
import glob
import cv2
from PIL import Image
from numpy import asarray

In [2]:
train = glob.glob("../../real_faces/train/**/*.jpg")
validation = glob.glob("../../real_faces/validation/**/*.jpg")

In [3]:
df_train = pd.DataFrame({"path":train})
df_validation = pd.DataFrame({"path":validation})

In [4]:
df_train["GT"] = df_train.path.apply(lambda x: x.split("/")[4])
df_validation["GT"] = df_validation.path.apply(lambda x: x.split("/")[4])

In [5]:
df_validation

                                               path       GT
0     ../../real_faces/validation/disgust/34519.jpg  disgust
1     ../../real_faces/validation/disgust/20761.jpg  disgust
2     ../../real_faces/validation/disgust/12753.jpg  disgust
3       ../../real_faces/validation/disgust/573.jpg  disgust
4      ../../real_faces/validation/disgust/2732.jpg  disgust
...                                             ...      ...
7061      ../../real_faces/validation/sad/34121.jpg      sad
7062      ../../real_faces/validation/sad/22765.jpg      sad
7063      ../../real_faces/validation/sad/13726.jpg      sad
7064      ../../real_faces/validation/sad/19285.jpg      sad
7065      ../../real_faces/validation/sad/14572.jpg      sad

[7066 rows x 2 columns]

In [6]:
df_train["array"]= df_train.path.apply(lambda x:asarray(Image.open(x)) )
df_validation["array"]= df_validation.path.apply(lambda x:asarray(Image.open(x)) )

In [7]:
df_train.head()

,path,GT,array
0,../../real_faces/train/disgust/17299.jpg,disgust,"[[71, 43, 22, 27, 28, 33, 38, 39, 43, 38, 31, ..."
1,../../real_faces/train/disgust/25955.jpg,disgust,"[[16, 11, 4, 16, 47, 81, 91, 85, 89, 95, 101, ..."
2,../../real_faces/train/disgust/28029.jpg,disgust,"[[18, 10, 9, 3, 1, 8, 8, 11, 11, 11, 10, 44, 6..."
3,../../real_faces/train/disgust/34692.jpg,disgust,"[[174, 172, 178, 122, 92, 108, 113, 112, 122, ..."
4,../../real_faces/train/disgust/29951.jpg,disgust,"[[165, 158, 120, 157, 231, 235, 231, 177, 111,..."

In [10]:
X=df_train["array"]
Y=df_train["GT"]

In [12]:
from sklearn.model_selection import train_test_split
num_class=7
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=0)
y_train = (np.arange(num_class) == y_train[:, None]).astype(np.float32)
y_test = (np.arange(num_class) == y_test[:, None]).astype(np.float32)